name: Upload Crowdin Sources and Translations
on:
  push:
    branches:
      - main

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload sources and translations to Crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: true           
          upload_translations: true      
          download_translations: false   
          create_pull_request: false     
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
